$line-height: 600px;
$loading-img-max-width: 48px;


.image-viewer {
    background-color: black;
    line-height: $line-height;
    text-align: center;
}

.showed-img {
    line-height: $line-height;
    vertical-align: middle;
    width: 100%;
}

.transition-img {
    max-width: loading-img-max-width;
}
