	.container {
		max-width: 700px;
		background: #ffffff;
		box-shadow: 0 0 3px #cccccc;
		margin: auto;
	}


	.subreddits h2 {
		font-size: 20px;
		margin-bottom: 10px;
		margin-top: 0px;
		padding-top: 9px;
		max-width: 50px;
	}

	.subreddits .item-list {
		border-top: 1px solid #cccccc;
		padding-top: 15px;
		padding-left: 0px;
		list-style: none;
	}

	.item-list ul {
		list-style-type: none;
		padding: 0px 6px 6px 8px;
	}

	.subreddits .item-list li {
		margin-bottom: 20px;
		margin-top: 10px;
	}

	.grid h2 {
		margin: 5px auto;
	}

	.mu-text-field {
		margin-top: 9px;
	}
